@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'inter';
    src: url('assets/Inter.ttf') format('opentype');
}

@layer base {
  html {
    font-family: 'inter';
  }
}

/*Custom styles*/
.nav-item {
  @apply font-bold text-white hover:bg-white hover:text-black px-3 py-2 rounded-md transition ease-in duration-200;
}

.blue-glass {
    @apply bg-white/10 backdrop-blur-xl rounded-2xl shadow-2xl ring-1 ring-black/5 p-3 mb-10;
}

.blue-button {
    @apply font-bold bg-white/30 p-1 m-1 rounded-md text-white hover:bg-white hover:text-black transition ease-in duration-200 hover:scale-110
}

.text-0 {
  font-size: 0px;
}